@import url("reset.css");

body {
    background: #FAFAFA;
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #252B42;
    font-family: Montserrat;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    padding: 0 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0; 
    left: 0;
    object-fit: cover;
}



/*-------------------------HEADER------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
 }
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
 }

 @media (max-width: 479px) {
    .header__container {
        min-height: 70px;
     }
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    color: inherit;
 }
.header__menu {
    font-size: 16px;
    margin: 0 0 0 133px;
    color: #252B42;
 }

@media (max-width: 992px) {
    .header__menu {
        margin: 0 0 0 80px;
     }
}

@media (max-width: 767px) {
    .header__menu {
        margin: 0 0 0 50px;
     }
}

@media (max-width: 479px) {
    .header__menu {
        margin: 0 0 0 20px;
     }
}

.menu {
    padding: 5px 0;

 }
.menu__list {
    display: flex;
    flex-wrap: wrap;
    
 }
.menu__item {

 }
 .menu__item:hover {
    text-decoration: underline;
 }

 .menu__item:not(:last-child) {
    margin: 0 21px 0 0;
 }

.menu__link {
    color: #252B42;
    font-weight: 600px;
    line-height: 171%;
 }

 @media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
 }

 /*-------------------------PAGE------------------------*/

 .page {
    flex: 1 1 auto;
 }

 .page_main-block {

  }

 .page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0 0 0;
  }
  .page__advantages {

   }

   .page__practice {

    }

    .page__whoweare {

     }

     .page__clients:not(:last-child) {
        margin: 0 0 10px 0; 

     }

     .page__subscribe { 

     }

     .page__getintouch { 

     }

     .page__contact {

      }
 /*-------------------------HEADER-BLOCK-----------------------*/

   .header-block {
    text-align: center;
    letter-spacing: 0.2px;
    }
    .header-block__title {
        font-size: 40px;
        line-height: 142%;
        font-weight: 700;
        letter-spacing: 0.2px;
        color: #252B42;
     }
     .header-block__title:not(:last-child) {
        margin: 0 0 10px 0;
     }
    .header-block__sub-title {
        color: #737373;
        line-height: 142%;
        font-size: 14px;
        font-weight: 500;
     }

     @media (max-width: 992px) {
        .header-block__title {
            font-size: 35px;
        }
     }
     @media (max-width: 767px) {
        .header-block__title {
            font-size: 30px;
        }
     }

 /*-------------------------MAIN-BLOCK------------------------*/

.main-block {
    position: relative;
 }
.main-block__container { }
.main-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
 }

 @media (max-width: 992px) {
    .main-block__body {
       padding: 120px 0 191px 0;
    }
 }

 .main-block__body > *:not(:last-child) {
    margin: 0 0 40px 0;
 }

.main-block__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 137%;
  }

@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    color: #252B42;
    font-size: 20px;
    line-height: 150%;
 }
.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
 }
.main-block__button {
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    transition:  background-color 0.3s ease 0s;
 }
 .main-block__button:hover {
    background-color: #0D5C63;
    color: #fff;
 }


@media (max-width: 479px) {
.main-block__button {
    flex: 1 1 100%;
}
}

 .main-block__button_orange {
    background-color: #FF7B47;
    color: #FFFFFF;
    transition: background-color 0.3s ease 0s;
}
.main-block__button_orange:hover {
    background-color: rgb(198, 197, 197);
    color: inherit
}

.main-block__button_border {
    color: #0D5C63;
    border: 1px solid #0D5C63;
    border-radius: 37px;
 }

.main-block__image img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width: 992px) {
    .main-block__image img {
        opacity: 0.7;
    }
}

@media (max-width: 479px) {
    .main-block__image img {
        opacity: 0.6;
        
    }
}

/*---------------------SERVICES----------------------------------*/

.services {
 }
.services__container {
 }
.services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
 }


.services__column {
    padding: 0px 15px;
    flex: 0 1 33.333%;
 }
 @media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
        margin: 0 0 30px 0;
    }
.services__column:last-child {
    flex: 1 1 100%;
    margin: 0 0 0 0;
}
}

@media (max-width: 670px) {
    .services__column {
        flex: 1 1 100%;
        
    }
    .services__column:last-child {
        flex: 1 1 100%;
        margin: 0 0 0 0;
    }
}

.services__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
    padding: 35px;
 }
.item-service { }

.item-service_green {
    background-color: #0D5C63;
}
.item-service_green .item-service__title {
    color: #FFFFFF;
}
.item-service_green .item-service__text {
    color: #FFFFFF;
}

.item-service > *:not(:last-child) {
    margin: 0 0 10px 0;
}

.item-service__icon { }
.item-service__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
    color: #252B42;
 }
.item-service__text {
    color: #737373;
    line-height: 142%;
    
 }

 /*-------------------------ADVANTAGES-------------------------------*/

.advantages { 
    padding: 80px 0;
}

@media (max-width: 992px) {
    .advantages {
        padding: 50px 0;
    }
}
@media (max-width: 767px) {
    .advantages {
        padding: 40px 0;
    }
}

.advantages__container { }
.advantages__header {
    margin: 0 0 50px 0;
 }

 @media (max-width: 767px) {
    .advantages__header {
        margin: 0 0 25px 0;
     }
 }

.advantages__body { 
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;
}
.advantages__column {
    padding: 0 15px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;
 }

@media (max-width: 1020px) {
    .advantages__column {
        flex: 0 1 50%;
    }
}
@media (max-width: 560px) {
    .advantages__column {
        flex: 0 1 100%;
    }
}

.advantages__item { 
    background-color: #fff;
    padding: 30px;
    font-weight: 700;
    text-align: center;
}
.advantages__item > *:not(last-child) {
    margin: 0 0 10px 0;
}
.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
 }
.advantages__value { 
    font-size: 40px;
    line-height: 142%;
}
.advantages__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #737373;
 }

 /*------------------------PRACTICE----------------------------------*/

.practice {
    padding: 125px 0 80px 0;
 }
 @media (max-width: 992px) {
    .practice {
        padding: 80px 0 80px 0;
    }
 }
 @media (max-width: 767px) {
    .practice {
        padding: 40px 0 40px 0;
    }
 }
.practice__container {
 }

.practice__header {
    margin: 0 0 45px 0;
 }

.practice__body {
    margin: 0px -20px;
    display: flex;
    flex-wrap: wrap;
 }

.practice__column {
    padding: 0px 20px;
    flex: 0 1 25%;
 }

 @media (max-width: 1040px) {
    .practice__column {
        flex: 0 1 50%;
        justify-content: center;
        margin: 0 0 120px 0;
        }
 }
 @media (max-width: 940px) {
    .practice__column {
        flex: 0 1 50%;
        margin: 0 0 100px 0;
        }
 }

 @media (max-width: 820px) {
    .practice__column {
        flex: 0 1 50%;
        margin: 0 0 80px 0;
        }
 }

 @media (max-width: 770px) {
    .practice__column {
        flex: 0 1 50%;
        margin: 0 0 60px 0;
        }
 }

 @media (max-width: 720px) {
    .practice__column {
        flex: 0 1 50%;
        margin: 0 0 40px 0;
        }
 }
 @media (max-width: 720px) {
    .practice__column {
        flex: 0 1 50%;
        margin: 0 0 20px 0;
        }
 }

 @media (max-width: 630px) {
    .practice__column {
        flex: 0 1 100%;
        margin: 0 0 190px 0;
        }
 }

 @media (max-width: 580px) {
    .practice__column {
        flex: 0 1 100%;
        margin: 0 0 170px 0;
        }
 }
 @media (max-width: 540px) {
    .practice__column {
        flex: 0 1 100%;
        margin: 0 0 150px 0;
        }
 }
 @media (max-width: 500px) {
    .practice__column {
        flex: 0 1 100%;
        margin: 0 0 130px 0;
        }
 }
 @media (max-width: 460px) {
    .practice__column {
        flex: 0 1 100%;
        margin: 0 0 110px 0;
        }
 }
 @media (max-width: 420px) {
    .practice__column {
        flex: 0 1 100%;
        margin: 0 0 90px 0;
        }
 }
 @media (max-width: 380px) {
    .practice__column {
        flex: 0 1 100%;
        margin: 0 0 70px 0;
        }
 }
 @media (max-width: 340px) {
    .practice__column {
        flex: 0 1 100%;
        margin: 0 0 40px 0;
        }
 }
 @media (max-width: 320px) {
    .practice__column {
        flex: 0 1 100%;
        margin: 0 0 10px 0;
        }
 }

.practice__item {
    
 }

.item-practice {
    background-color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
    
 }

.item-practice__content {
padding: 30px;
flex: 1 1 auto;

}

.item-practice__link {
    color: inherit;
    display: inline-block;
}

.item-practice__link:hover {
    text-decoration: underline;
}

.item-practice__link:not(:last-child) {
    margin: 0 0 15px 0;
}

.item-practice__title {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
 }

.item-practice__text {
    color: #737373;
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 142%;
 }

.item-practice__image {
   margin: 0 0 160px 0;
 }

/*---------------------------WHOWEARE----------------------------------------------*/

.whoweare {
    background: #FFFFFF;
    padding: 80px 0 130px 0;
 }

 @media (max-width: 950px) {
    .whoweare {
        padding: 50px 0 50px 0;
     }
 }
 @media (max-width: 767px) {
    .whoweare {
        padding: 0 0 50px 0;
     }
 }

.whoweare__container { }
.whoweare__header {
    margin: 0 0 100px 0;
 }
 @media (max-width: 950px) {
    .whoweare__header {
        margin: 0 0 30px 0;
     }
 }

.whoweare__body {
    display: flex;
    align-items: flex-start;
    }

    @media (max-width: 995px) {
        .whoweare__body {
            flex-direction: column-reverse;
            align-items: stretch;
        }
    }

.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0 0 42.25% 0;
 }

 @media (max-width: 950px) {
    .whoweare__video {
        padding: 0 0 56.25% 0;
    }
 }

 .whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
 }
.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0 0 120px;
 }

@media (max-width: 1080px) {
    .whoweare__content {
        padding: 0 0 0 50px;
     }
}
@media (max-width: 995px) {
    .whoweare__content {
        margin: 0 0 50px 0;
     }
}
@media (max-width: 995px) {
    .whoweare__content {
        padding: 0 0 0 0;
     }
}

.whoweare__title {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.2px;
    line-height: 142%;
    color: inherit;
 }
 @media (max-width: 950px) {
    .whoweare__title {
        font-size: 24px;
    }
 }

 .whoweare__title:not(:last-child) {
    margin: 0 0 10px 0;
 }

.whoweare__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #737373;
 }

.whoweare__items {
    margin: 50px 0 0 0;
 }
.whoweare__item {

 }
.whoweare__item:not(:last-child) {
    margin: 0 0 30px 0;
}

.item-whoweare {
    display: flex;
 }
.item-whoweare__icon {
    flex: 0 0 32px;
 }
.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
 }
.item-whoweare__title {
    color: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
 }

 .item-whoweare__title:not(:last-child) {
    margin: 0 0 5px 0;
 }


.item-whoweare__text {
    color: #737373;
    font-weight: 600;
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0.2px;
    white-space: nowrap;
    width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 /*---------------------------CLIENTS--------------------------------------------------------*/

.clients {
  padding: 50px 0;
 }
.clients__container { }
.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
 }
.clients__item {
    flex: 0 1 16.6667%;
    padding: 8px 10px;
    text-align: center;
 }
 @media (max-width: 620px) {
    .clients__item {
        flex: 0 1 33.333%;
        padding: 8px 10px;
        text-align: center;
     }
 }
 @media (max-width: 546px) {
    .clients__item {
        flex: 0 1 33.333%;
        padding: 8px 10px;
        text-align: center;
     }
 }
 @media (max-width: 496px) {
    .clients__item {
        flex: 0 1 50%;
        padding: 8px 10px;
        text-align: center;
     }
 }
 @media (max-width: 380px) {
    .clients__item {
        flex: 0 1 100%;
        padding: 15px 10px;
        text-align: center;
     }
 }

 /*---------------------------SUBSCRIBE-----------------------------------------------*/

.subscribe { 
    position: relative;
    padding: 0 0 20px 0;
}
.subscribe::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left: 0;
    background: #252B42;
}

.subscribe__container {
  
 }

.subscribe__body {
    position: relative;
    z-index: 2;
    padding: 30px 50px;
    align-items: center;
    background: #17213C;
    border-radius: 2px;
 }
 @media (min-width: 1070px) {
    .subscribe__body {
        margin: 0 30px;
    }
 }

.subscribe__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    font-weight: 700;
    flex: 0 1 50%;
 }
 @media (max-width: 810px) {
    .subscribe__title {
        margin: 0 0 20px 0;
    }
    .subscribe__body {
        margin: 0 -15px;
        padding: 20px 25px;
    }
 }
 @media (min-width: 810px) {
    .subscribe__title {
        max-width: 266px;
    }
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }
 }
.subscribe__form { 
    display: flex;
    flex: 0 1 50%;
    align-items: center;

}
.subscribe__input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 58px;
    padding: 0 20px;
    background: #F9F9F9;
    color: #737373;
    border: 1px solid #E6E6E6;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    
 }
 .subscribe__input:focus {
    color: #000;
 }
.subscribe__button {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0 22px;
    min-width: 117px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
 }
 @media (max-width: 810px) {
    .subscribe__button {
        padding: 15px 15px;
    }
    .subscribe__input {
        padding: 0 15px;
    }
 }
 .subscribe__button:hover {
    background:  #e48f6e;
 }
 /*---------------------------GETINTOUCH---------------------------------------------*/
 
 .getintouch {
    padding: 80px 0 135px 0;
  }
 .getintouch__container { }
 .getintouch__header {
    padding: 0 0 80px 0;
  }
 .getintouch__items {
    margin: -15px;
  }
  @media (min-width: 992px) {
    .getintouch__items {
        margin: 0;
        display: flex;
        align-items: center;
      }
  }
  @media (max-width: 992px) {
    .getintouch {
        padding: 50px 0;
      }
    .getintouch__header {
        padding: 0 0 50px 0;
      }
  }
  @media (max-width: 767px) {
    .getintouch__header {
        padding: 0 0 30px 0;
      }
  }
 .getintouch__item {
    flex: 0 1 33.333%;
  }
 .item-getintouch { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 50px 15px;
 }
 .item-getintouch__active {
    background: #252B42;
    padding: 80px 15px;
    color: #FFFFFF;
 }
 .item-getintouch__active .item-getintouch__button{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
 }

 .item-getintouch > *:not(:last-child) { 
    margin: 0 0 15px 0;
 }

 .item-getintouch__icon { 

 }

 .item-getintouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .item-getintouch__email {
    color: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.2px;
  }
  .item-getintouch__email:hover {
    text-decoration: underline;
  }
 .item-getintouch__label { 
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 150%
 }
 .item-getintouch__button {
    border: 1px solid #FF7B47;
    border-radius: 5px;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF7B47;
    line-height: 142%;
    padding: 5px 20px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
  }
  .item-getintouch__button:hover {
    background:  #FF7B47;
    color: #fff;
  }

  /*--------------------------CONTACT-------------------------------------------------*/

.contact {
    background-color: #fff;
    padding: 42px 0;
 }
.contact__container { }

 @media (min-width: 768px) {
    .contact__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
 }
.contact__content {
    padding: 0 20px 0 0;
 }
.contact__title {
    color: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
 }
 .contact__title:not(:last-child) {
    margin: 0 0 10px 0;
 }
.contact__text {
    color: #737373;
    font-weight: 500;
    line-height: 142%;
    letter-spacing: 0.2px;
 }
.contact__button {
    color: #fff;
    display: flex;
    min-height: 58px;
    background: #FF7B47;
    border-radius: 5px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 40px;
    margin: 42px 14px;
    transition:  background-color 0.3s ease 0s;
 }
 @media (max-width: 768px) {
    .contact__button {
        margin: 15px 0px;
    }

 }
 .contact__button:hover {
    background-color: #8f482d;
 }
 
 /*---------------------------FOOTER--------------------------------------------------*/

 .footer { }
.footer__top {
    background: #17213C;
    padding: 35px 0;
 }
.footer__main {
   
 }
 .footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
.footer__column {
    padding: 15px 15px;
    flex: 0 1 16.6667%;
 }

 .footer__column:last-child {
    flex: 0 1 33.334%;
 }
@media (max-width: 992px) {
    .footer__column {
        flex: 0 1 25%;
    }
    .footer__column:last-child {
        flex: 0 1 100%;
     }
}
@media (max-width: 992px) {
    .footer__column {
        flex: 0 1 50%;
    }
   
}

.footer__label {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: 0 0 20px 0;
 }
.footer__menu { }

.menu-footer { }
.menu-footer__list { }
.menu-footer__item { }
.menu-footer__item:not(:last-child) {
margin: 0 0 20px 0;
 }

.menu-footer__link {
    color: #FFFFFF;
    letter-spacing: 0.2px;
    display: inline-block;
    line-height: 171%;
 }
.menu-footer__link:hover {
    text-decoration: underline;
}
 

.footer__contacts { }

.contacts-footer {
    display: flex;
    flex-direction: column;
 }
.contacts-footer__item {
    padding: 0 0 0 34px;
    line-height: 142%;
    display: flex;
    min-height: 30px;
    align-items: center;
    color: #FFFFFF;
 }

 .contacts-footer__item:hover {
    text-decoration: underline;
 }

.contacts-footer__item:not(:last-child) {
    margin: 0 0 12px 0;
 }
.contacts-footer__item_phone {
    background: url("../img/footer/icons/01.svg") left no-repeat;
    font-weight: 600;
 }
.contacts-footer__item_map {
    background: url("../img/footer/icons/02.svg") left no-repeat;
 }
.contacts-footer__item_email {
    background: url("../img/footer/icons/03.svg") left no-repeat;
 }

.footer__bottom {
    padding: 25px 0;
 }
 .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .footer__container {
      flex-direction: column;
    }
    .footer__copy {
        margin: 0 0 15px 0;
        text-align: center;
    }
}

.footer__copy {
    color: #737373;
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;

}

.footer__social {
    display: flex;
    align-items: center;
 }
.social {
    display: flex;
    align-items: center;
 }
.social__item:not(:last-child) {
margin: 0 20px 0 0;
 }
